<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         metadata-complete="false"
         version="6.0">
    <display-name>M-JD2-XXX-XX</display-name>
    <!-- <servlet> и <servlet-mapping> можно заменить аннотацией @WebServlet в классе серволета-->
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>com.example.HelloWorldServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
</web-app>